ADMIN=
ADMIN_PASSWORD=

VENDOR=
VENDOR2=
VENDOR_PASSWORD=


CUSTOMER=
CUSTOMER2=
CUSTOMER_PASSWORD=

GOOGLE_MAP_API_KEY=
MAPBOX_API_KEY=

TAX_RATE=
COMMISSION_RATE=

# Jest Test settings
BASE_URL=
HEADLESS=
SLOWMO=
DEVTOOLS=
RETRY_TIMES=
TIME_OUT=