ADMIN=
ADMIN_PASSWORD=

VENDOR=
VENDOR2=
VENDOR_PASSWORD=

CUSTOMER=
CUSTOMER2=
CUSTOMER_PASSWORD=

GOOGLE_MAP_API_KEY=
MAPBOX_API_KEY=


BASE_URL=
DOKAN_PRO=
# comment below line before pushing
# ENV=local
HEADLESS=
SLOWMO=
DEVTOOLS=
RETRY_TIMES=
TIME_OUT=

